body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

textarea {
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#grupos {
    margin-top: 20px;
}
